<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Details</title>
</head>
<body>
    <h1>Details</h1>
    <div>
        <img src="/files/<%= file.name %>"/>
        <h2>Name: <%= file.name %></h2>
        <h3>Size: <%= file.size %></h3>
        <h3>Upload Date: <%= file.createdAt.toLocaleString() %></h3>
        <a href="/files/<%= file.name %>" download="<%= file.name %>">Download</a>
        <a href="/home/file/delete/<%= file.id %>">Delete</a>
    </div>
</body>
</html>