<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home page</h1>
    <h2>Welcome, <%= currentUser.username %>!</h2>
    <div>
        <h2>Upload</h2>
        <div>
            <a href="/new-folder">New Folder</a>
            <a href="/new-file">New File</a>
        </div>
        <% if (files) { %>
            <% files.forEach((file) => { %>
                <div>
                    <img src="<%= file.name %>">
                    <h3><%= file.name %></h3>
                    <p><%= file.createdAt %></p>
                    <p><%= file.updatedAt %></p>
                    <p><%= file.size %></p>
                </div>
            <% }) %>
        <% } %>
        <a href="/log-out">LOG OUT </a>
    </div>
</body>
</html>