<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home page</h1>
    <h2>Welcome, <%= currentUser.username %>!</h2>
    <div>
        <h2>Upload</h2>
        <div>
            <a href="/new-folder/<%= parentID %>">New Folder</a>
            <a href="/new-file/<%= parentID %>">New File</a>
        </div>
        <% if (locals.folders) { %>
            <h2>Folders</h2>
            <div>
                <% locals.folders.forEach((folder) => { %>
                    <div>
                        <a href="/home/folder/<%= folder.id %>"> <%= folder.name %> </a>
                        <a href="/home/folder/update/<%= folder.id %>">Update</a>
                        <a href="/home/folder/delete/<%= folder.id %>">Delete</a>
                    </div>
                <% }) %>
            </div>
        <% } %>
        <% if (locals.files) { %>
            <h2>Files</h2>
            <div>
                <% locals.files.forEach((file) => { %>
                    <div>
                        <img src="/files/<%= file.name %>">
                        <a href="/home/file/<%= file.id %>"><%= file.name %></a>
                    </div>
                <% }) %>
            </div>  
        <% } %>
        <a href="/log-out">LOG OUT </a>
    </div>
</body>
</html>